.menuwrap{
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
}
.menuwrap .toggler{
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   cursor: pointer;
   width: 50px;
   height: 50px;
   opacity: 0;
}
.menuwrap .mcdonalds{
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   width: 60px;
   height: 60px;
   padding: 0.6rem;
   background-color: var(--btn-color);
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.4s ease;
}
.menuwrap .mcdonalds > div{
   position: relative;
   width: 100%;
   height: 2px;
   background-color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.4s ease;
}
.menuwrap .mcdonalds > div:before{
   content: '';
   position: absolute;
   top: -10px;
   width: 100%;
   height: 2px;
   z-index: 1;
   background: inherit;
}
.menuwrap .mcdonalds > div:after{
   content: '';
   position: absolute;
   top: 10px;
   width: 100%;
   height: 2px;
   z-index: 1;
   background: inherit;
}
.menuwrap .toggler:checked + .mcdonalds > div{
   transform: rotate(135deg);
}
.menuwrap .toggler:checked + .mcdonalds > div:before,
.menuwrap .toggler:checked + .mcdonalds > div:after{
   top: 0;
   transform: rotate(90deg);
}
.menuwrap .toggler:checked:hover + .mcdonalds > div{
   transform: rotate(225deg);
}

.menuwrap .toggler:checked ~.menu{
   visibility: visible;
}
.menuwrap .toggler:checked ~ .menu > div{
   transform: scale(1);
   transition-duration: var(--menu-speed);
}
.menuwrap .toggler:checked ~ .menu > div >div {
   opacity: 1;
   transition: opacity 0.4s ease;
}

.menuwrap .menu{
   position:fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
  visibility: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}
.menuwrap .menu > div{
   background: var(--overlay-color);
   border-radius: 50%;
   width: 200vw;
   height: 200vw;
   display: flex;
   flex: none;
   justify-content: center;
   align-items: center;
   transform: scale(0);
   transition: all 0.4s ease;
}
.menuwrap .menu > div > div{
   text-align: center;
   max-width: 90vw;
   max-height: 100vh;
   opacity: 0;     
   transition: opacity 0.4s ease;
}
.menuwrap .menu > div > div > ul > li{
   list-style: none;
   color: #fff;
   font-size: 1.5rem;
   padding: 1rem;
}
.menuwrap .menu > div > div > ul > li > a{
   color: inherit;
   text-decoration: none;
   transition: color 0.4s ease;
}
