:root{
   --pr-color:rgba(10, 139, 153, 0.7);
   --overlay-color: rgba(0, 0, 0,0.7);
   --menu-speed: 0.75s;
   --btn-color: rgba(0, 255, 213, 0.7);
}
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   line-height: 1.5;
}
.cotainer{
   max-width: 960px;
   margin: auto;
   overflow: hidden;
   padding: 0 3rem;
}
.showcase{
   background-color: var(--pr-color);
   color: #fff;
   height: 100vh;
   position: relative;
}
.showcase:before{
   content: '';
   background: url("../img/hein.jpg") no-repeat center center  /  cover;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
  z-index: -1;
}
.showcase .shower{
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
   text-align: center;
   height: 100%;
}
.showcase h1{
   font-size: 3rem;
}
.showcase p{
   font-size: 1.3rem;
}
.btn{
   display: inline-block;
   border: none;
   background: var(--btn-color);
   color: #fff;
   padding: 0.75rem 1.5rem;
   border-radius: 20px;
   text-decoration: none;
   margin: 1rem;
   font-weight: 500;
   transition:all 0.5s ease-in;
}
.btn:hover{
   background-color: aqua;
   color: #333;
}
